In [1]:
import pandas as pd
import glob
import re
import os

In [2]:


def merge_files(file_pattern, category_name):
    merged_df = pd.DataFrame()
    for file_path in glob.glob(file_pattern):
        base_name = os.path.basename(file_path)  # e.g., "outcome_Felix_1.csv"
        
        # Extract run_id using regex: finds the name and number, e.g., "Felix_1"
        match = re.search(r'(?:outcome|week_detail)_([A-Za-z]+)_(\d+)', base_name)
        if match:
            run_id = f"{match.group(1)}{match.group(2)}"  # e.g., "Felix1" or "Juan2"
        else:
            print(f"Filename '{base_name}' does not match expected pattern. Skipping.")
            continue

        df = pd.read_csv(file_path)
        df['run_id'] = run_id
        merged_df = pd.concat([merged_df, df], ignore_index=True)

    merged_df.to_csv(f"{category_name}_merged.csv", index=False)
    print(f"Merged file saved as {category_name}_merged.csv")

# Merge any outcome and week detail files from any runner
merge_files("outcome_*.csv", "outcome")
merge_files("week_detail_*.csv", "week_detail")

Filename 'outcome_merged.csv' does not match expected pattern. Skipping.
Merged file saved as outcome_merged.csv
Filename 'week_detail_merged.csv' does not match expected pattern. Skipping.
Merged file saved as week_detail_merged.csv

In [3]:
merged_df = pd.read_csv("outcome_merged.csv")
merged_df

,Simulation Number,comboID,Your revenue,Perfect foresight strategy,Difference (%),run_id
0,1,0,64260,90552,29.0,Felix1
1,2,1,49872,77148,35.4,Felix1
2,3,2,101940,110232,7.5,Felix1
3,4,3,91992,104784,12.2,Felix1
4,5,4,39624,63408,37.5,Felix1
...,...,...,...,...,...,...
2805,676,675,81720,103020,20.7,Felix4
2806,677,676,78264,89952,13.0,Felix4
2807,678,677,79320,98880,19.8,Felix4
2808,679,678,76068,101820,25.3,Felix4
2809,680,679,73992,97782,24.3,Felix4